.image-box{
    border-radius: .6rem;
    box-shadow: 0px 0px 26px $color-white;
    &:hover{
        box-shadow: 0px 0px 36px $color-szary;
    }
    &__image{
        background: url(../assets/kw.jpg) center/cover no-repeat;
        height: 33rem;
        display: block;
        border-top-left-radius: .6rem; 
        border-top-right-radius: .6rem ; 
        &--next{
            background: url(../assets/kw2.jpg) center/cover no-repeat;

        }
        &--next1{
            background: url(../assets/kw3.jpg) center/cover no-repeat;
        }
        &--next2{
            background: url(../assets/nag.jpg) center/cover no-repeat;
        }
        @mixin medium {
            height: 19rem;
        }
    }
    &__text{
        text-align: center;
        padding: 1.5rem;
        font-size: 2.4rem;
        margin: 2rem;

    }
}