.nav{
    &__item{
        font-size: 29px ;
        @include medium{
            display: inline-block;
            width: 23%;
        }
    }
    &__link{
        color: $color-szary;
        text-decoration: none;
        padding: $grid-base;
        border-radius: .9rem;
        display: block;
        transition-duration: .5s;
        &:hover{
            background-color: $color-srebrny;
        }
    }
}